# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Next.js
.next
out
next-env.d.ts
*.tsbuildinfo

# Env
.env*.local
.env

# Vercel
.vercel

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sw?
